.modal {
    --padding: 6rem 3rem;
    --transtionDuration: 0.35s;

    --backdropOpacity: 0.8;
    --backdropBackground: #000;

    --closeButtonSize: 5rem;
    --closeButtonColor: currentColor;
    --closeButtonIconSize: 2.4rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: var(--modalPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
}

.modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdropBackground);
    opacity: var(--backdropOpacity);
}

.modal__closeButton {
    width: var(--closeButtonSize);
    height: var(--closeButtonSize);
    color: var(--closeButtonColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__closeButtonIcon {
    width: var(--closeButtonIconSize);
    height: var(--closeButtonIconSize);
}

.modal__inner {
    background-color: #fff;
    padding: 5rem;
    width: 80rem;
    margin: auto;
    position: relative;
}

.modal-leave {
    transition: var(--transtionDuration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-enter-start,
.modal-leave-end {
    opacity: 0;
}
